.container_banner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.container_banner_div > h1{
  font-family: Tomato Grotesk;
  font-size: 30px;
}
.container_banner_div > p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    width: 100%;
}
.container_banner_div > button{
    padding: 14px;
    padding: 12px;
    background-color: #A0DDE2;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
.banner_img{
    margin-top: 50px;
}
@media screen and (max-width: 800px){
    .container_banner{
        flex-direction: column;
    }
    .container_banner_div > p{
      
    }
}
