.gradient_container{
  height: 60vh;
  background-color:#FFF4F0;
  background-image:
    linear-gradient(
      to right, 
      #FFF4F0, 
      #fff,
      #fff, 
      #ECFEFE
    );
    margin-left: -20%;
    margin-right: -20%;
    /* margin-top: 80px; */
}
.gradient_div{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.gradient_div > h1{
    font-weight: 500;
}
.gradient_div > p{
   width: 30%;
   text-align: center;
   padding: 20px;
   font-family: DM Sans;
   line-height: 1.5;
   font-size: 14px;
}