* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 68rem;
}
.container_header > ul > li{
  list-style: none;
  color:  #07969E;
  font-family: TomatoGrotesk,sans-serif;
  font-weight: 600;
}
.container_header > ul{
  display: flex;
  width: 50%;
  justify-content: space-between; 
}
.container_header{
  display: flex;
  justify-content: space-between; 
} 
@media screen and (max-width: 800px){
  .App-header{
   overflow: hidden;
  }
}

